<div id="titles" class="d-flex justify-content-center">
    <div id="titlecontent">
        <h2 class="center mb-5">EPISODE X<br />
            THE RAISE OF ANGULAR 16</h2>
        <p class="body-txt mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, magnam, cupiditate
            rerum eum id laudantium praesentium totam sint saepe, amet accusantium ut quam repudiandae tempore vero sunt
            necessitatibus nisi non!</p>

        <p class="body-txt mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. At sequi eveniet reprehenderit
            recusandae provident alias, ipsam soluta! Libero, cum, enim dolore velit officia similique, dolorem quaerat
            repudiandae quisquam eligendi quas..</p>

        <p class="body-txt mb-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum reiciendis aliquam
            facere asperiores suscipit adipisci nesciunt laudantium illum corrupti distinctio, quas ad soluta deserunt,
            quaerat enim, aliquid quia neque fuga?.</p>

        <p class="body-txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste illo deserunt, aliquam quia
            molestias eligendi rerum laudantium, cupiditate earum repellendus est ad maiores in similique doloremque
            magni aperiam nemo excepturi..</p>
    </div>
</div>